.centrado {
  margin-top: 1rem;
  display: flex;
  /* background-color: red; */
  flex-direction: column;
  align-items: center;
}

.movielist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 500px) {
  .movielist-container {
    justify-content: center;
  }
}

.movielist-item {
  width: 250px;
  margin-top: 1rem;
}
